Source: io.elementary.settings.network
Section: x11
Priority: optional
Maintainer: elementary OS Team <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libadwaita-1-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libnm-dev,
               libnma-gtk4-dev,
               libswitchboard-3-dev,
               meson,
               valac
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard-plug-network

Package: io.elementary.settings.network
Architecture: any
Depends: network-manager-gnome, ${misc:Depends}, ${shlibs:Depends}
Enhances: io.elementary.settings
Recommends: network-manager-openvpn-gnome
Description: Manage network connections
 Switchboard plug for managing networking.
